.App {
   padding-top: 20px;
}

.wrapper {
   padding: 20px;
   margin: 0 auto;
   max-width: 1920px;
   width: 100%;
   border-radius: 5px;
   overflow: auto;
}

.user-table {
   min-width: 950px;
}

.my-1 {
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.mx-1 {
   margin-left: 1rem;
   margin-right: 1rem;
}

.mt-1 {
   margin-top: 1rem;
}

.ml-1 {
   margin-left: 1rem;
}

.popup {
   position: absolute;
   z-index: 2;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-color: rgba(#000, 0.2);
   opacity: 0;
   visibility: hidden;
   transition: all ease-in 0.2s;

   &.active {
      opacity: 1;
      visibility: visible;
   }

   &__body {
      padding: 20px 30px;
      background-color: #fff;
      border-radius: 4px;
      transform: translateY(50px);
      margin: 0 auto;
      width: 100%;
      max-width: 700px;
      text-align: center;

      span {
         font-size: 1.2rem;
         margin: 15px 0;
      }
   }
}

.search-field {
   button {
      display: flex;
      align-items: center;
   }
}

.search-input {
   display: inline-block;
   max-width: 400px;
}